<a href="https://colab.research.google.com/github/BALLEVINAYAK/ML_LAB/blob/main/intellipaat_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON BASICS

python was developed in year 1989 by guido van rossum

* its is programming language :a mediator between a programer and a machine

* python is high level language : human readable code,easy to understand

*python is interepreter language ,it means its processes each code line by line (or) one by one

* python is case sensitive  :- the whole code must in same case like example

{ "a" is not equal to "A"} .


          //WHY DO WE USE PYTHON ?

- Python is easy t learn ,like english
- it is user frierndly
- large library domain ,python is very flexiable it can be used in various places,it has large no of libraries which can import to use in code  
- python is open source


         // WHERE WE USE PYTHO ?

 - Python is used in many way
 - used to create web applications  
 -  web developement
 - AI/ML
 -Data science

         print function//


- print function is a fuction that already had some definiton

In [ ]:
#Introduction to python
print("hi ,this is vinay")# shows us something on the screen

hi ,this is vinay

              VARIABLES :-

- Container that stores your data  
- Rules(naming conventions)

 1.A variable name cannont begin with a digit.

 2.a variable name should either begin with a latter or _ (underscore)

 3.variable cannot have whitespaces(empty spaces)

In [ ]:
a=10
print(a)

_1=43
print(_1)

10
43

              // DATA TYPES //

- data type tells you the kind of data a variable can hold

there are 4 types they are

 1.intege(non decimal numbera)

 2.float(decimal number)

 3.string(collection of characters,its is immutable it means a string cannot be modified)

 4.boolen (true/false values:(1/0))

In [ ]:
#integer

a=10
print(10)

#floatb
b=1.56
print(b)

#string(string should be present in between "")
c="vinay"
print(c)

#boolen(true /false)
d=True
print(d)

10
1.56
vinay
True

In [ ]:
#type functions : tells you the data type of your variable
a1=10
print(a1,type(a1)) # we us comma here is to concatentes(to link things together in series)

a2="10"
print(a2,type(a2))

10 <class 'int'>
10 <class 'str'>

               //TYPE CASTING
- Type casting is forcefully changing the data type of a varibale

In [ ]:
light_on=1 # here in boolen every non zero values give true & zero value give false
light_on2=False
print(bool(light_on))
print(light_on2)

True
False

In [ ]:
#chaging float to string
a=15.3
print(a,type(a))

print(str(a),type(str(a)))

15.3 <class 'float'>
15.3 <class 'str'>

In [ ]:
#initialize 4 different variables,storing 4 different data type values.
#print the variable and its data type
#type cast any variable (int to float)

a=10
b=9.1
c="vinay"
d=True
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(float(a))

10 <class 'int'>
9.1 <class 'float'>
vinay <class 'str'>
True <class 'bool'>
10.0

               // OPERATORS
  
- Special symbols that perform some operations on values(operands)

- there few operations they are
    
    1. Arithmetic operator(+,*,-,/,//,%)
    2.Exponential operator
    3.Comparsion operator
    4.Logical operator
    5.Assignment operator

              //AIRTHMETIC OPERATIONS

In [ ]:
#Arthmetic operation ,they four type they are addtion,subtraction,multiplication,division
#Additiom

a=96
b=83
print("Total marks ",a+b)

Total marks  179

In [ ]:
#subtraction
a1=100
b1=79
print("Total difference between:",a1-b1)

Total difference between: 21

In [ ]:
#Multiplication
a=96
b=83
print(a*b)

7968

In [ ]:
#divison(when ever we use division it give you th exact float value ) here we use one /
a=96
b=5
print(a/b)

19.2

In [ ]:
from re import T
r=100
t=100
u=r//t
print("product",r*t)
print(u)

product 10000
1

In [ ]:
#Floor  division (gives us only integer part ) here we use double //
a=10
b=2
print(a//b)

5

In [ ]:
#Modulus(%) gives remainder
a=10
b=3
print(a%b)

1

                // EXPONENTIAL OPERATOR

In [ ]:
#exponential operator
#exponential mean we just call it like (a to the power ) we represnt by (**) a**b

a=8
b=3
print(a**b)
#8 should multiply 3 times  like 8x8x8

512

        //COMPARSION OPERATOR

  - Gives you boolen outputs,compare valuse

In [ ]:
a=5
b=3
print(a==b)#here its checks the statement whether its true or false and its gives tha result or output
print(a!=b)

False
True

In [ ]:
a=5
b=3
print(b<a)
print(a<b)
print(a>b)

True
False
True

In [ ]:
c=5
print(a>=b)#here 5>3
print(a>=c)# here 5<=5
print(a<=c)#here 5>=5 so here it gives you all outputs as true

True
True
True

// LOGICAL OPERATOR

- THERE 2 TYPES OF OPERATORS ARE PRESENT THEY ARE (AND , NOT )

- here  in AND both a and b values should be true (1,1)

- here in 0R opertor i atleast condition should be true
  
  TRUTH TABLE FOR AND

  a------------ b---------------final output

  0-------------0---------------0(false)

 0-------------1--------------0(false)

 1-------------0---------------0(false)  
 1--------------1--------------1(true)






       // TRUTH TABLE OF OR OPERATOR

  a------------ b---------------final output

  0-------------0---------------0(false)

 0-------------1---------------1(true)

 1-------------0---------------1(ture)  
 1--------------1--------------1(true)

In [ ]:
#logical AND operator
# operator precendence(priority):
# not  ,and  , or
#and
a=False #return a true value ,only when both entities are true
b=False
print(a and b)

False

In [ ]:
a=False
b=True
print(a and b)

False

In [ ]:
a=True
b=True
print(a and b)

True

In [ ]:
#logiaval OR : here atleast one entity sholud be true
a=True
b=False
print(a or b)

True

In [ ]:
a=True
b=True
print(a or b)

True

In [ ]:
a=False
b=False
print(a or b)

False

            /// ASSIGGNMENT OPERATOR

In [ ]:
#Assignment operATORS
a=5
print(a)

5

In [ ]:
v=5
v-=4 #v=v-4, decrement
print(v)

1

In [ ]:
v=5
v+=1 #v=v+1,increment
print(v)

6

In [ ]:
v=4
v*=3 #v=v*3
print(v)

12

In [ ]:
v=10
v/=5 #v=v/5 ,decrement
print(v)

2.0

In [ ]:
v=10
v//=5 #v=v//5, decrement
print(v)

2

In [ ]:
v=10
v%=5 #v=v%5
print(v)

0

In [ ]:
#Practice Questions
v=True
v2=False
print((v and v2) or (not v2)) # (false) or (true) = true

True

        // SEQUENTIAL DATA TYPES // complex data types

-  indexing
-  lists (ordered , mutabale (can be modified),and duplicates are allowed)
-

In [ ]:
#lists[]: when we create a list we should kep it square brackets []
b=["vinay",12,17.9,"ravi"]
#    0      1   2     3   representing index values
print(b)

['vinay', 12, 17.9, 'ravi']

In [ ]:
print(type(b))

<class 'list'>

In [ ]:
print(b[2],type(b[2]))  #here [2]refers index value of element in the list
print(b[3])
print(b[1],type(b[1]))

17.9 <class 'float'>
ravi
12 <class 'int'>

In [ ]:
#negetive indexing :it always start with -1
b=["vinay",12,17.9,"ravi"]
#    -4    -3  -2     -1    negetive indexing
print(b[-4],type(b[-4]))

vinay <class 'str'>

In [ ]:
#length function : it tell  you about the lenght
print(len(b))

4

In [ ]:
#index function: it tells you abot index value of element
print(b.index("vinay"))

0

In [ ]:
b[3]="python"# after updating old list elements with new elements ,we cannot access old values
b[1]=4
print(b)

['vinay', 4, 17.9, 'python']

In [ ]:
#append fuction : basically adds  ur value at the end of the list
b.append("intellipaat")
print(b)

['vinay', 4, 17.9, 'python', 'intelipaat', 'intellipaat']

In [ ]:
#insert fuction: it will allow uh to add a value at a certain index or at a particular place in list
b.insert(3,"coding")
b.insert(4,)
print(b)

['vinay', 4, 17.9, 'coding', 'python', 'intelipaat', 'intellipaat']

In [ ]:
#pop fuction: it is a fuction ,delete a  value at a give index
b.pop(6)
print(b)

['vinay', 4, 17.9, 'coding', 'python', 'intelipaat']

In [ ]:
b.pop()# when no index is given ,by default it removes the last element in the list, because lists are in ordered
print(b)#whene we run pop fuction multiple times it will removes elements  one by one from end

['vinay', 4]

In [ ]:
#remove fuction : delete an element using a value
a=["jaya",45,"raj",12.4,"kinnu","pavan",3433] # we cannot delete 2 index values at a time
print(a)
a.remove("jaya",)
print(a)

['jaya', 45, 'raj', 12.4, 'kinnu', 'pavan', 3433]
[45, 'raj', 12.4, 'kinnu', 'pavan', 3433]

In [ ]:
#count fuction :number of  times  ocurences of a value

c=[2,5,4,5,6,7,8,3,8,7,5,2,9,7,3,8,]
print(len(c))
print(c.count(7))

16
3

In [ ]:
#Tuple : ordered ,imutable (cannot be modified),duplicates are allowed
#Tuple should be in () this
#difference list and tuple is ,in list we can modified, but when it comes to tuple we can't modified the values in tuple

t1=("vinay" ,23,"zeel",45,18)
#     0       1    2    3  4   postive indexing
#     -5     -4   -3   -2 -1   negetive indexing
print(t1,type(t1))

('vinay', 23, 'zeel', 45, 18) <class 'tuple'>

In [ ]:
print(t1[3]) #using positive indexing
print(t1[-5])#using negetive indexing

45
vinay

In [ ]:
#trying to update value in tuple : its shows erroe bcoz tuple is imutable

t1[0]="shanmuk"
print(t1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#type casting :to change one data type to another data type
#here to update values in tuple we use type casting
#we should change tuple into list to update values in tuple

t1=list(t1)
print(t1,type(t1))

['vinay', 23, 'zeel', 45, 18] <class 'list'>

In [ ]:
# Append fuction for tuple : here we not updating values ,we are adding new values to the exisiting tuple
t1.append("shanmuk")
print(t1)

['vinay', 23, 'zeel', 45, 18, 'shanmuk']

In [ ]:
# chaging list to tuple
t1=tuple(t1)
print(t1)

('vinay', 23, 'zeel', 45, 18, 'shanmuk')

In [ ]:
# range fuction : start ,end +1( end is excluded)
t1=tuple(range(1,11))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# range fuction : start ,end +1( end is excluded)
# another perametter in range fuction is (skip or step)  : it will allows you add any value
t1=tuple(range(1,11,3))
print(t1)

(1, 4, 7, 10)

In [ ]:
#print only elements at even index positions
ti=["a","b","c","d","e"]
#    0   1   2   3   4  positive indexing
t1=ti[::2]
print(t1)

['a', 'c', 'e']

In [ ]:
# Slicing[start: end] : means trying to get  some specific part from your list or tuple
# accessing multiple elements,end is excluded
#note: even duplicate values are allowed,it won't shows error
ls=["AB","CD","EF","GH","IJ"]
#    0     1    2    3    4   positive indexing
#   -5    -4   -3   -2   -1   negetive indexing
print(ls)

['AB', 'CD', 'EF', 'GH', 'IJ']

In [ ]:
print(ls[2:4]) # using postive index  # slicing
print(ls[-4:-1]) #using negetive index,
print(len(ls))# length of the list
print(ls[1:])# when uh dont know the last index value
print(ls[:-1])

['EF', 'GH']
['CD', 'EF', 'GH']
5
['CD', 'EF', 'GH', 'IJ']
['AB', 'CD', 'EF', 'GH']

              // STRINGS

-   String is ordered ,imutabale(cannot be modified ,duplicates are allowed

In [ ]:
# strings
s="vinay"
#  01234  index values    positive indexing
#  -5 -4 -3 -2 -1         negetive indexing
print(s,type(s))
print(s[3]) # using positive indexing
print(s[-3])# using negetive indexing

vinay <class 'str'>
a
n

In [ ]:
#trying to change value in string: it shows error because strings are imutable
s[3]="a"
print(s)

TypeError: 'str' object does not support item assignment

In [ ]:
s1="Hi,"
s2=" i am a learner"
print(s1+s2) #concatenation means adding togeather.

Hi, i am a learner